$shadow : 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.35), -0.0625em -0.0625rem 0.125rem rgba(0, 0, 0, 0.35);
body {
    height : 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items : center;
    font-family: sans-serif;
}

/* Styling the scrollbar */
::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 15px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #4d4d4d;
    border-radius: 10px;
  }

form > input {
    outline: none;
    border-radius: 20px;
    width : 300px;
    padding : 10px 10px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    box-shadow: $shadow;
}

.todos {
    height: 300px;
    overflow-y: scroll;
    margin-top: 20px;
    padding: 5px;
}

.todos__container {
    box-shadow: $shadow;
    margin: 5px;
    display : flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    border-radius: 10px;
}

.todos__container >  p {
    margin-left: 10px;
}

.todos__container > span {
    font-size: 30px;
    font-weight: 700;
    margin-right: 10px;
    user-select: none;
}